/*
Theme Name: WP Default
Theme URI: http://underscores.me/
Author: Silver Connect Web Design
Author URI: https://silverconnectwebdesign.com/
Description: A custom wordpress theme for WP Default
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: scwd
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

WP Default is created by the theme generator at http://underscores.me/, (C) 2015-2016 Automattic, Inc.
_s is distributed under the terms of the GNU GPL v2 or later.
*/

/*--------------------------------------------------------------
# General Styles
--------------------------------------------------------------*/
html { font-size: 16px; /* 1em */ }
body { font-family: "Open Sans", sans-serif; }
a, a:visited { color: #2980B9;
  -webkit-transition: all 0.2s ease-in-out;
	 -moz-transition: all 0.2s ease-in-out;
	   -o-transition: all 0.2s ease-in-out;
		  transition: all 0.2s ease-in-out; }
a:hover { color: #19B798; text-decoration: none; }

.h1, .h2, .h3, h1, h2, h3 { margin-top: 0; }
/*--------------------------------------------------------------
# Helper Styles
--------------------------------------------------------------*
/* For removing bootstrap grid gutter */
.no-gutter > [class*='col-'] { padding-right:0; padding-left:0; }

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.site { margin: 0 auto; /*max-width: 1920px;*/ }

.full { width: 100%; }
.main { margin: auto; max-width: 1920px; }
.container-fluid { max-width: 1440px; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header { background: #324579}
	.custom-logo { max-width: 300px; }
.site-title { font-size: 2.5em; /*40px*/ }
.site-description { font-size: 1.125em; /*18px*/ font-weight: 400; margin: 10px 0; }

#masthead .container-fluid {max-width: 1600px;}
#masthead .hdRight{padding: 14px 0; text-align: right;}
#masthead .hdRight p{margin: 0;font-family: "Century Gothic"; font-size: 16px;font-weight:700;color: #FFFFFF}
#masthead .hdRight p.contactInfo span{font-family: "Century Gothic"; font-size: 16px; font-weight: 700;}
#masthead .hdRight p.contactInfo a{font-family: "Century Gothic"; font-size: 16px; font-weight: 700;color: #FFFFFF;}
/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Menu
--------------------------------------------------------------*/
.skip-link.screen-reader-text { padding: 0; }

.main-navigation { margin: 15px 0; }

/* Main Navigation */
.main-navigation { border-radius: 3px; clear: both; color: #fff; display: block; padding-left: 12px; width: 100%;  }
.main-navigation, .main-navigation ul li > ul, .main-navigation ul li:hover > ul { background: none; }
.main-navigation a { color: #fff; display: block; padding: 12px; text-decoration: none; font-family: "Century Gothic"; font-size: 15px;text-transform: uppercase}
.main-navigation ul { list-style: none; margin: 0; padding-left: 0; }
.main-navigation ul li:first-child a { border-radius: 3px 0 0 3px; }
.main-navigation li { float: left; position: relative; }
.main-navigation li:hover > a { }
.main-navigation a:hover, .main-navigation .current-menu-item > a, .main-navigation .current-menu-ancestor > a { font-weight: 700;}

/* Sub Menu */
.main-navigation ul ul { border-radius: 0 0 3px 3px; top: 100%; }
/*.main-navigation .sub-menu a { width: 260px; }
.main-navigation .sub-menu li { border-top: 1px solid #ccc; }
.main-navigation .sub-menu li:last-child a:hover { border-radius: 0 0 3px 3px; } */

.main-navigation ul ul ul { left: -999em; top: 0; }

/*--------------------------------------------------------------
# Primary / Content Area
--------------------------------------------------------------*/
#banner{background: url(assets/images/bn-wrapper.jpg)no-repeat center top; background-size: cover;}
.content-area {  }

/*--------------------------------------------------------------
# Secondary / Sidebar
--------------------------------------------------------------*/
.secondary { font-size: 14px; font-size: 0.875rem; line-height: 1.6; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {  }

/* Footer Navigation */
.footer-navigation { background: #2980B9; border-radius: 5px; margin: 15px 0; padding-left: 12px; }
.footer-navigation ul { margin: 0; padding: 0; text-align: center; }
.footer-navigation ul li { display: inline-block; float: left; }
.footer-navigation ul li a { color: #fff; display: block; padding: 12px; }
.footer-navigation ul a:hover, .footer-navigation .current_page_item a, .footer-navigation .current-menu-item a { background: #3498DB; }

/* Site Info */
.site-info { background: #222222; color: #fff; font-size: 0.875em; /*14px*/ font-weight: 300; padding: 10px 0;  }
